
@{
    ViewBag.Title = "API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>API gil</h2>
<div class="float-left">
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Divisions", "Index", "Division", new { area = "" }, null)</li>
            <li>@Html.ActionLink("SubDivisions", "Index", "SubDivision", new { area = "" }, null)</li>
        </ul>
    </nav>
</div>