<div class="panel panel-default">
	<h2 class="verde text-center">Divisions</h2>
	<div class="panel-body">
		<div class="table">
			<div class="row header green">
				<div class="cell">Id</div>
				<div class="cell">Name</div>
				<div class="cell">SubDivisions</div>
			</div>
			<div class="row" ng-repeat="division in listDivisions">
				<div class="cell">{{division.Id}}</div>
				<div class="cell">{{division.Name}}</div>
				<div class="cell">{{division.SubDivisionsIds}}</div>
				<div class="cell">
					<a class="btn btn-xsm btn-primary edit" ui-sref="^.Division({id: {{division.Id}}})"><span class="glyphicon glyphicon-edit"></span>EDITAR</a>
					<a class="btn btn-xsm btn-danger delete" ng-click="deleteDivision(division)" ui-sref="^.Divisions"><span class="glyphicon glyphicon-remove-sign"></span>ELIMINAR</a>
				</div>
			</div>
		</div>
		<a class="btn btn-xsm btn-primary edit" ui-sref="^.Division"><span class="glyphicon glyphicon-edit"></span>CREAR</a>
	</div>
	<hr class="cincuenta" />
</div>
