<div>
	<div class="col-md-12" style="text-align: center; margin-bottom: 10px;">
		<input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().setFile(this)" accept="image/*" class="btn btn-primary" />
		<img ng-src="{{file}}"/>
	</div>
	<div class="col-md-12">
		<button ng-click="UploadFile()" class="button button4">Upload</button>
	</div>
	<div class="col-md-12" style="padding-top: 10px;">
		<div class="col-md-7">
			<table align="center" border="1" cellpadding="4" cellspacing="4">
				<thead>
					<tr>
						<th style="background-color: Yellow; color: blue">File Name</th>
						<th style="background-color: Yellow; color: blue">File Type</th>
						<th style="background-color: Yellow; color: blue">File Size</th>
						<th style="background-color: Yellow; color: blue">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="file in fileList">
						<td style="color: blue">{{file.file.name}}</td>
						<td style="color: blue">{{file.file.type}}</td>
						<td style="color: blue">{{file.file.size}}</td>
						<td>
							<div id="{{'P'+$index}}">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
