<div class="panel panel-default">
	<h2 class="verde text-center">{{mode}} de Player</h2>
	<div class="panel-body">
		<div class="col-md-4 col-md-offset-4">
			<form name="form">
				<div class="form-group">
					<input type="text" class="form-control" name="Name" placeholder="Name" title="Name" data-ng-model="player.Name" data-ng-required="true" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="Age" placeholder="Age" title="Age" data-ng-model="player.Age" data-ng-required="true" />
				</div>
				<div class="form-group">
					<select class="form-control" data-ng-model="player.TeamId" data-ng-options="team.Id as team.Name for team in teams" data-ng-required="true">
					</select>
				</div>
				<div>
					<button type="submit" class="btn btn-lg btn-success" ui-sref="^.Players" data-ng-click="submitForm()" data-ng-disabled="!ready || form.$invalid">GUARDAR</button>
					<button type="button" class="btn btn-lg btn-secondary" data-ng-click="cancelForm()">CANCELAR</button>
				</div>
			</form>
			<hr class="cincuenta" />
		</div>
	</div>
</div>
