<div class="panel panel-default">
	<h2 class="verde text-center">Teams</h2>
	<div class="panel-body">
		<div class="table">
			<div class="row header green">
				<div class="cell">Id</div>
				<div class="cell">Name</div>
				<div class="cell">Players</div>
				<div class="cell">LocalMatches</div>
				<div class="cell">AwayMatches</div>
				<div class="cell">Goals</div>
			</div>
			<div class="row" ng-repeat="team in listTeams">
				<div class="cell">{{team.Id}}</div>
				<div class="cell">{{team.Name}}</div>
				<div class="cell">{{team.PlayersIds}}</div>
				<div class="cell">{{team.LocalMatchesIds}}</div>
				<div class="cell">{{team.AwayMatchesIds}}</div>
				<div class="cell">{{team.GoalsIds}}</div>
				<div class="cell">
					<a class="btn btn-xsm btn-primary edit" ui-sref="^.Team({id: {{team.Id}}})"><span class="glyphicon glyphicon-edit"></span>EDITAR</a>
					<a class="btn btn-xsm btn-danger delete" ng-click="deleteTeam(team)" ui-sref="^.Teams"><span class="glyphicon glyphicon-remove-sign"></span>ELIMINAR</a>
				</div>
			</div>
		</div>
		<a class="btn btn-xsm btn-primary edit" ui-sref="^.Team"><span class="glyphicon glyphicon-edit"></span>CREAR</a>
	</div>
	<hr class="cincuenta" />
</div>
